.row-gutter {
    background: #fff !important;
}

.gutter-row {
    margin-bottom: 20px
}

.title {
    font-size: 48px;
    text-align: center;
}

.content {
    margin: auto;
    width: 80%;
    height: 700px;
    text-align: center;
    padding: 250px 0;
}

.content-portfolio {
    margin: auto;
    width: 60%;
}

.content-about {
    margin: auto;
    width: 60%;
}

.content-about .p {
    font-size: 16px;
    color: #9b9b9b;
    line-height: 2;
    text-align: justify;
}

.image-large {
    max-width: 200px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.image-medium {
    max-width: 150px;
    max-height: 300px;
    width: auto;
    height: auto;
}